profile = janestreet
margin = 80
break-infix-before-func = false
break-separators = after
parens-tuple = always
single-case = compact
module-item-spacing = preserve
let-binding-spacing = compact
field-space = loose